<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM  "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/hms/logs/hello-scala/hello-scala-error.log"/>
        <param name="Threshold" value="error"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="info" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/hms/logs/hello-scala/hello-scala-info.log"/>
        <param name="Threshold" value="info"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy:MM:dd:HH:mm:ss,SSS} - %m%n"/>
        </layout>
    </appender>

    <appender name="debug" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/hms/logs/hello-scala/hello-scala-debug.log"/>
        <param name="Threshold" value="debug"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="framework-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/hms/logs/hello-scala/hello-scala-framework.log"/>
        <param name="Threshold" value="debug"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="snmp" class="hms.commons.SnmpLogger">
        <param name="snmpTrapFileName" value="/hms/scripts/snmp_send.sh" />
    </appender>

    <category name="framework" additivity="false">
        <priority value="error"/>
        <appender-ref ref="framework-log"/>
    </category>

    <category name="com" additivity="false">
        <priority value="error"/>
        <appender-ref ref="error"/>
    </category>

    <category name="org" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="debug"/>
    </category>

    <category name="net" additivity="false">
        <priority value="info"/>
        <appender-ref ref="info"/>
    </category>

    <category name="snmp_logger" additivity="false">
        <priority value="info"/>
        <appender-ref ref="snmp"/>
    </category>

    <root>
        <priority value="debug"/>
        <appender-ref ref="error"/>
        <appender-ref ref="debug"/>
    </root>

</log4j:configuration>